.section-box {
    width: 100vw;
    margin-left: calc(-50vw + 50% - 10px);
    position: relative;
}

.job-board-street-map {
    width: 100%;
    height: 500px;
}

.ads_banner_widget {
    border: 1px solid #E0E6F7;
    border-radius: 4px;
    margin-bottom: 40px;
}

.image-company {
    img {
        height: 85px;
        width: 85px;
    }
}

.preview-lg {
    width: 120px !important;
    height: 120px !important;
}

.loading-ring {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    transition: 0.6s;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-ring-wrapper {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 3px;
        border: 3px solid #fff;
        border-radius: 50%;
        animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }


    div:nth-child(1) {
        animation-delay: -0.45s;
    }

    div:nth-child(2) {
        animation-delay: -0.3s;
    }

    div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#alert-container {
    top: 100px;
    right: 5px;
    position: fixed;
    z-index: 9999999;

    .alert {
        max-width: 450px !important;
        min-height: 45px !important;
        font-weight: 400;
        position: relative;
        padding: 15px 40px 15px 60px;
        margin-bottom: 10px;
        box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);

        &.alert-success {
            color: #299c77;
            background-color: #bff9d0;
        }

        .message-icon {
            position: absolute;
            left: 5%;
            top: 11px;
            font-size: 20px;
            fill: #299c77;
            stroke: #299c77;
        }

        &.alert-dismissible {
            .close {
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 10px;
                padding: 0;
            }
        }
    }
}

.company-detail {
    .image-company {
        left: 0;
        position: absolute;
        top: -80px;
        width: 85px;
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eff2fb;
        padding: 10px;
        border-radius: 6px;

        img {
            width: 100%;
        }
    }
}

.company-detail-job-list {
    .name-job {
        overflow-wrap: break-word;
        hyphens: auto;
    }

    textarea.form-control {
        min-height: calc(4.5em + 0.75rem + 2px);
    }
}

.mdi-close.message-icon::before {
    content: url("../imgs/page/candidates/close-red-big.svg");
}

.mdi-close.message-icon {
    margin-top: 7px;
}

.mdi-close-box::before {
    content: url("../imgs/page/candidates/close.svg");
}

.mdi-check::before {
    content: url("../imgs/template/success.png");
}

.mdi-check {
    margin-top: 5px;
}

.header {
    .main-menu {
        li.dashboard {
            padding-top: 3px;

            a {
                border: 1px dashed $color-brand-2;
                padding: 5px 8px;
                border-radius: 4px;
            }
        }
    }
}

.job-by-location {
    .card-image-top {
        .image {
            margin: 0 auto 0.9em auto;
        }
    }
}

.job-of-the-day {
    .items {
        .image-box {
            width: 67px;
            height: 52px;
        }

        .name-job {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 150px;
        }

        .card-block-info {
            h6 {
                a {
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 200px;
                }
            }
        }

        .card-text-price {
            font-size: 1.125rem;
        }
    }

    .job-description {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: normal;
        min-height: 113px;
    }

    .item-grid {
        .name-job {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 300px;
        }
    }

    .tab-content {
        min-height: 840px;
        position: relative;
    }
}

.news-or-blogs {
    h5 {
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            white-space: normal;
            min-height: 53px;
        }
    }

    .post-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 70px;
    }
}

.top-companies {
    .location-label {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 5px;
    }

    .btn-apply-now {
        min-width: unset;
        max-width: 92px;
        line-break: auto;
    }
}

.top-candidates {
    .candidate-name, .candidate-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height: 37px;
    }
}

.company-listing {
    .flash {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 25px;
        width: 25px;
        background: url(../imgs/template/icons/flash.svg) no-repeat 0 0;
    }
}

.review-listing {
    .review-user-avatar {
        width: 4rem;
        height: 4rem;
    }

    .review-item:not(:first-child) {
        margin-top: 46px;
    }

    .review-pagination {
        li {
            a {

                font-size: 16px;
                background-color: #e0e6f7;
                color: #A0ABB8;
                width: 48px;
                font-weight: 500;
                text-align: center;
                height: 48px;
                border-radius: 50%;
            }

            a.active {
                background-color: $color-brand-2;
                color: #fff;
            }
        }

        .paginations {
            .pager {
                a.pager-prev {
                    margin-right: unset;
                }
            }
        }

        li:not(:first-child) {
            a {
                margin-left: 10px;
            }
        }
    }
}


.job-map-section {
    .sticky-top {
        z-index: 0;
    }
}

.map-button {
    .btn-outline-info.active {
        background-color: $color-brand-2;
        border-color: $color-brand-2;
    }

    .btn-outline-primary {
        margin-top: 2px;
        height: 30px;
        border-radius: 4px;
    }
}

.job-board-street-map, .jobs-list-map {
    .boxmarker {
        background-color: $color-brand-2;
        border-radius: 3px;
        box-shadow: 0 0 5px #333;
        color: #fff;
        display: inline-block;
        font-weight: 700;
        padding: 2px 5px;
        text-align: center;
        white-space: nowrap;
        width: auto !important;
    }
}

.marker-cluster.marker-cluster-small {
    div {
        background-color: rgba(110, 204, 57, 0.6);
        border-radius: 15px;
        height: 30px;
        margin-left: 5px;
        margin-top: -5px;
        text-align: center;
        width: 30px;

        span {
            line-height: 30px;
            color: #F2ECDF;
        }
    }
}

.jobs-listing {
    .map {
        img {
            width: 30px;
            border: 1px solid #a0abb8;
            border-radius: 5px;
            height: 30px;
            padding: 2px;
            margin-top: -7px;
        }
    }

    .map.active {
        img {
            background: #3d65f5;
            padding: 4px;
        }
    }

    .job-grid {
        .name-job {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 200px;
        }

        .name-company {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 150px;
            font-size: 18px;
            line-height: 26px;
            color: #05264E;
            font-weight: bold;
        }

        .job-description {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            white-space: normal;
            min-height: 113px;
        }
    }

    .image-box {
        height: 52px;
        width: 67px;
        min-width: 52px;
    }
}


$breakpoint-tablet: 1200px;
$breakpoint-mobile: 680px;
@media (max-width: $breakpoint-tablet) {
    .job-of-the-day, .jobs-listing {
        .items {
            height: 410px;
        }

        .btn-apply-now {
            max-width: unset;
            margin-top: 10px;
            width: 100%
        }

        .salary-information {
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .post-description {
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-mobile) {
    .job-of-the-day {
        .card-text-price {
            text-align: center;
        }
    }

    .top-companies {
        .location-label {
            width: 69px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 5px;
        }
    }
}

.form-control {
    color: #212529;
}

.footer-social {
    a.btn-currency-footer.dropdown-toggle {
        vertical-align: top;
    }

    a.btn-currency-footer.dropdown-toggle:first-child {
        margin-left: 1rem;
    }
}

.show-admin-bar {
    .sticky-bar.stick {
        top: 40px;
    }
}

.dropdown {
    .user-dropdown-menu {
        inset: 4px auto auto 32px !important;
    }
}

.header-right {
    .user-header-dropdown {
        width: 160px;
        height: 40px;
        padding: 0 5px;
    }
}

.icon-down {
    display: inline-block;
    padding-right: 15px;
    background: url(../imgs/page/dashboard/triangle.svg) no-repeat right center;
    text-align: left;
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto 0 auto 5px;
}

span {
    .user-name-dropdown {
        font-weight: 500;
        color: #05264e;
    }
}

.btn-search-filter {
    min-height: 50px;
}

.job-bookmark-action {
    border: 1px solid #eff0f2;
    border-radius: 5px;
    padding: 0 10px 3px 10px;

    &:hover {
        background-color: #da3746;
        border-color: #da3746;

        span {
            color: white;
        }
    }
}

.user-profile-section {
    .form-contact {
        .form-control.tagify {
            font-size: 1rem;
        }
    }
}

.job-detail-section {
    .single-apply-jobs {
        .button-apply-section {
            text-align: start !important;
        }
    }
}

.save-job-active {
    .job-bookmark-action {
        background-color: #da3746;
        border-color: #da3746;
    }

    .favorite-icon {
        span {
            color: white;
        }
    }
}

.favorite-icon {
    span {
        font-size: 18px;
        color: #b5b2b29e;
    }
}

.bg-soft-danger {
    background-color: rgba(218, 55, 70, 0.15);
    color: #da3746;
}

.bg-soft-success {
    background-color: rgba(4, 133, 101, 0.15);
    color: #048565;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
}

.job-box:hover {
    transform: translateY(-8px);
    border-color: $color-brand-2;
}

.breadcrumbs li a {
    line-height: unset;

    .icon-home::before {
        padding-right: 3px;
        padding-top: 3px;
    }
}

.job-board-street-map {
    .boxmarker, .jobs-list-map {
        background-color: $color-brand-2;
        border-radius: 3px;
        box-shadow: 0 0 5px #333;
        color: #fff;
        display: inline-block;
        font-weight: 700;
        padding: 2px 5px;
        text-align: center;
        white-space: nowrap;
        width: auto !important;
    }

    .image-company {
        text-align: center;
        vertical-align: middle;
    }

    .leaflet-popup-content {
        width: 212px;
    }
}

.btn-tag {
    &:hover {
        background: $color-brand-2;
        color: #fff;
    }
}

.job-categories {
    .item-logo {
        background-color: #fff;
        border: 1px solid rgba(6, 18, 36, .1);
        border-radius: 12px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding: 22px 18px;
        text-align: left;
        width: 100%;
    }

    .item-logo:hover {
        border: 1px solid #b4c0e0;
        box-shadow: 0 10px 20px -5px rgb(10 42 105 / 6%);
    }

    .image-left {
        min-width: 50px;
        padding-right: 10px;
    }
}

.ps-custom-scrollbar {
    max-height: 250px;

    .mCS-dark.mCSB_scrollTools {
        .mCSB_dragger .mCSB_dragger_bar {
            background-color: rgb(102, 102, 102);
        }

        .mCSB_draggerRail {
            background: rgb(204, 204, 204, .9);
        }

        .mCSB_dragger .mCSB_dragger_bar, .mCSB_draggerRail {
            width: 6px;
            border-radius: 0 !important;
            opacity: 1 !important;
        }
    }
}


.item-timeline {
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;

    .timeline-year {
        position: relative;
        padding-right: 20px;
        margin-right: 20px;
        top: 20px;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            width: 1px;
            border-right: 1px solid $color-border-2;
        }

        span {
            position: relative;
            border-radius: 30px;
            background-color: $color-border-3;
            padding: 1px 15px 2px 15px;
            min-width: 130px;
            color: $color-brand-2;
            text-align: center;
            display: inline-block;
        }
    }

    .timeline-info {
        position: relative;
        width: 100%;
        padding-right: 30px;
    }

    .timeline-actions {
        min-width: 93px;
        text-align: right;
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}

.btn.btn-editor {
    background-image: url(../imgs/page/candidates/btn-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    background-color: #EFF2FB;
    padding: 0px;
    position: unset;
}

.btn.btn-remove {
    background-image: url(../imgs/page/candidates/btn-delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
    width: 32px;
    padding: 0px;
    background-color: #EFF2FB;
    margin-left: 8px;
}

.candidate-education-content .circle {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 40px;
}

.bg-soft-primary {
    background-color: rgba(118, 109, 244, .15) !important;
    color: #766df4 !important;
}

.candidate-education-content {
    span.line {
        &:before {
            content: "";
            position: absolute;
            border: 1px dashed rgba(118,109,244,.4);
            height: calc(100% - 32px);
            left: 16px;
            top: 44px;
        }
    }
}

.candidate-education-content {
    position: relative;
}

.box-timeline {
    .item-timeline {
        .timeline-info {
            .text-muted {
                font-size: 16px;
            }
        }
    }
}

.card-grid-2 {
    &.featured-job-item {
        border: 1px solid var(--primary-color);
        border-left: 5px solid var(--primary-color);
    }
}

.btn-grey-small:hover {
    background-color: $background-6;
}

.leaflet-popup-content {
    td {
        vertical-align: top;

        .infomarker {
            margin-left: 10px;
        }
    }
}

.job-of-the-day-list {
    .loading-ring {
        border-radius: 8px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        .row-filter {
            margin-left: -30px;
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        .row-filter {
            .filter-section {
                padding-left: 35px;
            }
        }
    }
}

.job-empty {
    i.text-3xl {
        font-size: 3em;
    }
}

.paginations {
    .pager {
        li {
            margin: auto 3px;

            .pager-prev {
                margin-right: 10px;
            }

            .pager-next {
                margin-left: 10px;
            }
        }
    }
}

.main .section-box {
    margin-left: 0;
}

@media screen and (max-width: 600px) {
    .col-md-6, .text-md-end {
        .dropdown, .nav-item {
            margin-top: 6px;
            margin-right: 130px !important;
        }
    }
}

.box-swiper .swiper-container {
    .item-logo {
        .image-left {
            img  {
                max-width: 100%;
                width: 42px;
            }
        }
    }
}

.view-more-posts {
    position: sticky;
    z-index: 9999999;
}

.main {
    overflow: auto;
}
